.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
}

.login-form {
  width: 60%;
  padding: 2% 10% 5%;
  background-color: white;
  border-radius: 50px;
}
.login-form .ant-form-item-label {
  padding: 0px;
}

.filter-btn {
  width: 230px;
}
.content-body {
  padding: 10px 50px;
  max-height: 100%;
  min-height: fit-content;
  overflow: auto;
  margin-top: 20px;
}
:where(.css-dev-only-do-not-override-yp8pcc).ant-layout-header {
  background-color: #103e6a;
}

@media screen and (max-width: 576px) {
  .login-form {
    width: 100%;
    padding: 20% 10%;
    height: 100%;

    background-color: white;
    border-radius: 20px;
  }
  .filter-btn {
    width: 100%;
  }
}
